:root {
  --color-cyan-6: hsl(176, 50%, 47%);
  --color-cyan-8: hsl(176, 72%, 28%);
  --color-black-5: hsl(0, 0%, 0%);
  --color-black-2: hsl(0, 0%, 0%, 0.5);
  --color-gray-1: hsl(0, 0%, 48%, 0.1);
  --color-gray-2: hsl(0, 0%, 48%, 0.3);
  --color-gray-5: hsl(0, 0%, 48%);
  --color-white-5: hsl(0, 0%, 100%);
  --color-white-8: hsl(0, 0%, 98%);
  --color-white-9: hsl(0, 0%, 96%);
}
