@use '../abstracts/' as *;

:root {
  --radius-1: 0.5rem;
  --border-0: 0.063rem solid var(--color-gray-1);
  --border-1: 0.063rem solid var(--color-gray-2);
  --duration-2: 200ms;
  --animation-2: 200ms ease-in-out forwards;
  --nav-z-index: 100;
  --modal-z-index: 200;
}

*,
*::after,
*::before {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white-8);

  &.fixed {
    height: 100vh !important;
    overflow-y: hidden !important;
  }
}

span {
  display: block;
}
