@use '../abstracts/' as *;

:root {
  --font-commissioner: 'Commissioner', sans-serif;
  --font-size-1: 0.938rem;
  --font-size-2: 1.125rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-7: 700;

  @include breakpoint(medium) {
    --font-size-1: 1rem;
    --font-size-2: 1.125rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.5rem;
    --font-size-5: 2rem;
    --font-size-6: 2.5rem;
  }
}

body {
  font-family: var(--font-commissioner);
  font-size: var(--font-size-1);
}

.heading {
  font-weight: var(--font-weight-7);
  color: var(--color-black);

  &--h1 {
    @extend .heading;
    max-width: 12rem;
    margin-block-end: rem(18);
    font-size: var(--font-size-3);
    line-height: 1.15;
  }

  &--h2 {
    @extend .heading;
    margin-block-end: rem(28);
    font-size: var(--font-size-2);
  }

  &--h3 {
    @extend .heading;
    font-size: var(--font-size-1);
  }
}

.paragraph {
  color: var(--color-gray-5);
  line-height: 1.6;
  margin-block-end: rem(24);
}
