@use '../abstracts/' as *;

.button {
  $nav: '.nav';
  --button-radius: calc(var(--button-height) / 2);
  --button-transition: var(--duration-2) ease;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-5);
  transition: var(--button-transition);

  &--menu {
    @extend .button;
    background-color: transparent;
  }

  &--large {
    --button-width: min(100%, 13.375rem);
    --button-height: 3.5rem;
    @extend .button;
    @extend %button-cyan;
    padding-inline: rem(8);
  }

  &--bookmark {
    --button-width: 3.5rem;
    --button-height: var(--button-width);
    @extend .button;
    width: var(--button-width);
    height: var(--button-height);
    flex-shrink: 0;
    background-color: var(--color-white-8);
    border-radius: 50%;
    overflow: hidden;
    transition-property: color;

    path,
    circle {
      transition: fill var(--button-transition);
    }

    &:is(:hover, :focus-visible) {
      circle {
        fill: var(--color-gray-5);
      }
    }

    .button__text {
      transition: color var(--button-transition);

      @include breakpoint-down(medium) {
        display: none;
      }
    }

    html[data-bookmark='true'] & {
      path {
        fill: var(--color-white-5);
      }

      circle {
        fill: var(--color-cyan-8);
      }

      .button__text {
        color: var(--color-cyan-8);
      }
    }
  }

  &--select {
    --button-width: min(100%, 9.75rem);
    --button-height: 3rem;
    @extend .button;
    @extend %button-cyan;
  }

  &--close {
    @extend .button;
    width: fit-content;
    height: fit-content;
    background-color: transparent;

    path {
      transition: opacity var(--button-transition);
    }

    &:hover path {
      opacity: 1;
    }
  }

  &--continue {
    --button-width: 7.125rem;
    --button-height: 3rem;
    @extend .button;
    @extend %button-cyan;
    padding-inline: 0.5rem;
  }
}
