@use '../abstracts/' as *;

.container {
  --container-padding-inline: 1.5rem;

  display: flex;
  padding-inline: var(--container-padding-inline);

  &--header {
    --container-height: 18.75rem;
    --container-padding-block-start: 2rem;
    --bg-image-url: url('../images/image-hero-mobile.jpg');
    @extend .container;

    justify-content: center;
    height: var(--container-height);
    background: linear-gradient(to bottom, rgba(#000, 0.7), transparent 50%), var(--bg-image-url) center / cover no-repeat;
    padding-block-start: var(--container-padding-block-start);

    @include breakpoint(large) {
      --container-height: 25rem;
      --container-padding-block-start: 3rem;
      --bg-image-url: url('../images/image-hero-desktop.jpg');
    }
  }

  &--main {
    --container-row-gap: 1.5rem;
    --container-top: -3.5rem;
    @extend .container;

    flex-direction: column;
    align-items: center;
    row-gap: var(--container-row-gap);
    position: relative;
    top: var(--container-top);

    @include breakpoint(large) {
      --container-top: -5.75rem;
    }
  }

  &--modal {
    @extend .container;
    justify-content: center;
    align-items: center;
  }
}
