@use '../abstracts/' as *;

.modal {
  --modal-padding-block: 7.5rem 6.5rem;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-black-2);

  &.active {
    animation: show-modal var(--animation-2);

    @keyframes show-modal {
      100% {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &--selection {
    @extend .modal;
    padding-block: var(--modal-padding-block);
  }

  &--success {
    @extend .modal;
  }
}
