@use '../abstracts/' as *;

.modal {
  --modal-padding-block: 7.5rem 6.5rem;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-z-index);
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-black-2);

  &.active {
    transition: opacity var(--duration-2) ease-in-out;
    visibility: visible;
    opacity: 1;
    // @include animation-show();
  }

  &.closing {
    @include animation-close();
  }

  &--selection {
    @extend .modal;
    padding-block: var(--modal-padding-block);
  }

  &--success {
    @extend .modal;
  }
}
