@use '../abstracts/' as *;

.stats {
  display: flex;

  &--column {
    --stats-row-gap: 0.875rem;
    @extend .stats;

    flex-direction: column;
    align-items: center;
    row-gap: var(--stats-row-gap);
    padding-block-end: rem(24);

    .section--stats &:nth-of-type(n + 2) {
      position: relative;
      padding-block-start: rem(30);

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: rem(80);
        border-block-start: var(--border-1);
        top: 0;
      }
    }
  }

  &--day {
    @extend .stats;
    align-items: center;
    column-gap: rem(10);

    .modal--selection & {
      margin-block-end: 1.5rem;
    }
  }

  &__number {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-7);
  }

  &__text {
    font-weight: var(--font-weight-5);
    color: var(--color-gray-5);
  }
}
