@use '../abstracts/' as *;

.stats {
  display: flex;

  &--column {
    --stats-row-gap: 0.875rem;
    @extend .stats;

    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: var(--stats-row-gap);

    @include breakpoint(medium) {
      align-items: flex-start;
    }

    .section--stats &:nth-of-type(n + 2) {
      position: relative;
      padding-block-start: rem(30);

      @include breakpoint(medium) {
        padding-block-start: 0;
        padding-inline-start: rem(30);
      }

      &::before {
        content: '';
        width: rem(80);
        display: block;
        position: absolute;
        top: 0;
        border-block-start: var(--border-1);

        @include breakpoint(medium) {
          width: auto;
          height: rem(64);
          left: 0;
          border-block-start: 0;
          border-inline-start: var(--border-1);
        }
      }
    }
  }

  &--day {
    @extend .stats;
    align-items: center;
    column-gap: rem(10);

    .modal--selection & {
      margin-block-end: 1.5rem;

      @include breakpoint(medium) {
        margin-block-end: 0;
      }
    }
  }

  &__number {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-7);

    .modal--selection & {
      @include breakpoint(medium) {
        font-size: var(--font-size-3);
      }
    }
  }

  &__text {
    font-weight: var(--font-weight-5);
    color: var(--color-gray-5);
  }
}
