@use '../abstracts/' as *;

.wrapper {
  width: 100%;
  display: flex;

  &--button {
    @extend .wrapper;
    justify-content: space-between;
    column-gap: rem(8);
  }

  &--column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(24);

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  &--label {
    @extend .wrapper;
    flex-direction: column;
    gap: rem(10) rem(18);

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--select {
    @extend .wrapper;
    grid-area: select;
    flex-direction: column;
    row-gap: rem(26);
    padding-block-start: rem(4);

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--reward {
    --wrapper-padding: 1.5rem;

    display: grid;
    grid-template-areas:
      'input'
      'paragraph'
      'select';
    padding: var(--wrapper-padding);
    border: var(--border-1);
    border-radius: var(--radius-1);

    @include breakpoint(medium) {
      --wrapper-padding: 2rem;
    }

    .modal--selection & {
      --wrapper-padding: 1.5rem 1.5rem 0;

      grid-template-areas:
      'input'
      'paragraph'
      'stats'
      'grow';

      @include breakpoint(medium) {
        --wrapper-padding: 2rem 2rem 0;

        grid-template-areas:
          'input stats'
          'paragraph paragraph'
          'grow grow';
        grid-template-columns: 1fr auto;
      }
    }

    .modal--selection .reward__item:first-of-type > & {
      grid-template-areas:
        'input'
        'paragraph'
        'grow';
    }

    .reward__item.active & {
      border-color: var(--color-cyan-6);
    }

    .wrapper--input {
      grid-area: input;
    }

    .paragraph {
      --paragraph-padding-block: 1.75rem 1.5rem;
      grid-area: paragraph;
    }

    .stats--day {
      grid-area: stats;
    }

    .wrapper--grow {
      grid-area: grow;
    }
  }

  &--h-b {
    @extend .wrapper;
    justify-content: space-between;
  }

  &--input {
    @extend .wrapper;
    width: fit-content;
    align-items: center;
    column-gap: rem(16);
    cursor: pointer;

    .wrapper--label {
      --wrapper-margin-block-end: 0;
    }

    .input--radio {
      position: absolute;
      width: 0;
      opacity: 0;
    }

    .custom--radio {
      flex-shrink: 0;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      padding: rem(5);
      border-radius: 50%;
      border: var(--border-1);
      transition: border-color var(--duration-2) ease;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background-color: var(--color-cyan-6);
        border-radius: 50%;
        transform: scale(0);
        transition: transform var(--duration-2) ease;
      }
    }

    .input--radio:checked + .custom--radio::before {
      transform: scale(1);
    }

    &:hover .custom--radio,
    &:focus-within .custom--radio {
      border-color: var(--color-cyan-6);
    }
  }

  &--grow {
    --grow-width-plus: 3rem;
    width: calc(100% + var(--grow-width-plus));
    max-height: 0;
    overflow: hidden;
    margin-inline-start: calc(var(--grow-width-plus) / 2 * -1);
    transition: max-height var(--duration-2) ease-in-out;

    @include breakpoint(medium) {
      --grow-width-plus: 4rem;
    }
  }

  &--enter {
    @extend .wrapper;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 calc(var(--grow-width-plus) / 2) calc(var(--grow-width-plus) / 2);

    &::before {
      content: '';
      width: calc(100% + var(--grow-width-plus));
      display: block;
      position: absolute;
      top: 0;
      border-block-start: var(--border-1);
    }

    .custom--number {
      --input-width: 6.25rem;
      --input-height: 3rem;
      width: var(--input-width);
      height: var(--input-height);
      display: flex;
      align-items: center;
      position: relative;
      border-radius: calc(var(--input-height) / 2);
      font-weight: var(--font-weight-7);

      &::before {
        content: '$';
        position: absolute;
        left: rem(22);
        z-index: 1;
        opacity: 0.7;
        color: var(--color-gray-5);
        pointer-events: none;
      }
    }

    .input--number {
      width: 100%;
      height: 100%;
      padding-inline: 2.25rem 1.5rem;
      border: var(--border-1);
      border-radius: inherit;
      caret-color: var(--color-cyan-6);

      &:hover,
      &:focus,
      &:focus-visible {
        outline: none;
        border-color: var(--color-cyan-6);
      }

      &.invalid:focus-visible {
        border-color: var(--color-red);
        caret-color: var(--color-red);
      }
    }

    .invalid-value {
      padding-block: 1rem 0;
      color: var(--color-red);
      text-align: center;

      &.hidden {
        display: none;
      }

      & > * {
        display: inline;
      }
    }
  }

  &--continue {
    @extend .wrapper;
    justify-content: center;
    gap: 1rem;
  }
}
