@use '../abstracts/' as *;

.nav {
  --nav-max-width: 69.25rem;
  // --nav-height: 1.25rem;

  width: min(100%, var(--nav-max-width));
  // height: var(--nav-height);
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__menu {
    $menu: '.menu';
    --menu-max-width: 30rem;
    --menu-animation: 200ms ease-in-out forwards;
    --menu-translate: translateY(-8%);

    width: min(100%, var(--menu-max-width));
    position: absolute;
    top: calc(100% + rem(36));
    right: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-white-5);
    border-radius: var(--radius-1);

    &.active {
      animation: show var(--menu-animation);

      @keyframes show {
        0% {
          transform: var(--menu-translate);
        }
        100% {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &.closing {
      animation: close var(--menu-animation);

      @keyframes close {
        0% {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          visibility: hidden;
          opacity: 0;
          transform: var(--menu-translate);
        }
      }
    }

    #{$menu}__list {
      display: flex;
      flex-direction: column;
    }

    #{$menu}__item {
      &:nth-of-type(n + 2) {
        border-block-start: var(--border-1);
      }
    }

    #{$menu}__link {
      --link-height: 4.375rem;
      --link-padding-inline-start: 1.5rem;

      height: var(--link-height);
      display: flex;
      align-items: center;
      padding-inline-start: var(--link-padding-inline-start);
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-5);
      color: var(--color-black);
    }
  }
}
