@use 'breakpoints' as *;

@mixin breakpoint($size) {
  @media screen and (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media screen and (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin animation-show() {
  animation: show var(--animation-2);

  @keyframes show {
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
}

@mixin animation-close() {
  animation: close var(--animation-2);

  @keyframes close {
    0% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
}
