@use 'breakpoints' as *;
@use 'functions' as *;
@use 'mixin' as *;

%button-cyan {
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-cyan-6);
  border-radius: var(--button-radius);
  color: var(--color-white-5);
  transition: background-color var(--button-transition);

  &:is(:hover, :focus-visible) {
    background-color: var(--color-cyan-8);
  }
}
